
@{
    ViewData["Title"] = "Bienvenido";
}

<div class="text-center" style="color:#a72d33; font-size:small; font-family:sans-serif">
    <h1 class="display-4">BIENVENIDO</h1>
</div>
<video src="~/img/video3.mp4"autoplay loop muted></video>
<div class="text-center">
    <img src="~/Img/kreemosf.png" height="350"></img>
</div>
